<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Blah Blob</string>
	<key>CFBundleGetInfoString</key>
	<string>Blah Blob v1.0, ©2023 by Brian Kendall. Mini vMac ©2018 maintained by Paul C. Pratt.</string>
	<key>CFBundleIconFile</key>
	<string>blahblob.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.briankendall.blahblob</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Blah Blob!</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresCarbon</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<string>1</string>
</dict>
</plist>
